In [2]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [3]:
df=pd.read_csv("Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [5]:
df.shape

(13320, 9)

In [6]:
df.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [7]:
df1=df.drop(['area_type','availability','society','balcony'],axis='columns')
df1.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [8]:
df1.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [10]:
df2=df1.dropna()
df1.isnull().sum()
df2.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [11]:
df2.shape

(13246, 5)

In [13]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [16]:
df2['bhk']=df2['size'].apply(lambda x: int(x.split(' ')[0]))

<ipython-input-16-d97910c39351>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['bhk']=df2['size'].apply(lambda x: int(x.split(' ')[0]))

In [17]:
df2.head()

                   location       size total_sqft  bath   price  BHK  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2    2

In [18]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [23]:
df3=df2.copy()
df3['total_sqft']=df3['total_sqft'].apply(convert_sqft_to_num)
df3.head()

                   location       size  total_sqft  bath   price  BHK  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2    2

In [24]:
df3.shape

(13246, 7)

In [25]:
df4=df3.copy()
df4['price_per_sqft']=df4['price']*100000/df4['total_sqft']
df4.head()

,location,size,total_sqft,bath,price,BHK,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,2,4250.000000

In [26]:
df4['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [27]:
len(df4['location'].unique())

1304

In [29]:
df4.location = df4.location.apply(lambda x: x.strip())
location_stats = df4['location'].value_counts(ascending=False)
location_stats
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

BTM 1st Stage                  10
Gunjur Palya                   10
1st Block Koramangala          10
Basapura                       10
Sector 1 HSR Layout            10
                               ..
1Hanuman Nagar                  1
MRCR Layout                     1
Banagirinagar                   1
RTO ullalu                      1
Jaraganahalli Jp Nagar Post     1
Name: location, Length: 1052, dtype: int64

In [30]:
len(df4.location.unique())

1293

In [31]:
df4.location = df4.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df4.location.unique())

242

In [33]:
df4.head(20)

,location,size,total_sqft,bath,price,BHK,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,2,4250.000000
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,2,3247.863248
6,Old Airport Road,4 BHK,2732.0,4.0,204.00,4,4,7467.057101
7,Rajaji Nagar,4 BHK,3300.0,4.0,600.00,4,4,18181.818182
8,Marathahalli,3 BHK,1310.0,3.0,63.25,3,3,4828.244275
9,other,6 Bedroom,1020.0,6.0,370.00,6,6,36274.509804
10,Whitefield,3 BHK,1800.0,2.0,70.00,3,3,3888.888889
11,Whitefield,4 Bedroom,2785.0,5.0,295.00,4,4,10592.459605
12,7th Phase JP Nagar,2 BHK,1000.0,2.0,38.00,2,2,3800.000000
13,Gottigere,2 BHK,1100.0,2.0,40.00,2,2,3636.363636
14,Sarjapur,3 Bedroom,2250.0,3.0,148.00,3,3,6577.777778
15,Mysore Road,2 BHK,1175.0,2.0,73.50,2,2,6255.319149
16,Bisuvanahalli,3 BHK,1180.0,3.0,48.00,3,3,4067.796610
17,Raja Rajeshwari Nagar,3 BHK,1540.0,3.0,60.00,3,3,3896.103896
18,other,3 BHK,2770.0,4.0,290.00,3,3,10469.314079
19,other,2 BHK,1100.0,2.0,48.00,2,2,4363.636364